<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @administrator.first_name %>, tu as un.e nouvel.le participant.e !</h1>
    <p>
      Tu sais que tu es un.e chanceux.se, @attendee.first_name a décidé de se joindre à ta petite fiesta sur la diégèse du parrallèlisme oblique.
    </p>
    <p> Allez, plus que quelques dodos avant le Grand Jour !</p>
  </body>
</html>